<!doctype html>
<html>
<head>
	<title>View test</title>
	<link rel="stylesheet" type="text/css" href="views/styles.css">
</head>
<body>
	<div id="content">
		
	</div>
	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/react.min.js"></script>
	<script type="text/javascript" src="libs/react-dom.min.js"></script>
	<script type="text/javascript" src="libs/browser.min.js"></script>

	<script type="text/javascript" src="scripts/renderer.js"></script>
	<script type="text/javascript" src="views/test-view.js"></script>

	<script type="text/javascript">
		var views = [{
			"type" : "TestView",
			"data" : {
				"testItems" : [
					{ "text" : "Test Item A"},
					{ "text" : "Test Item B"},
				],
			}
		}];

		renderViews(views);
	</script>
</body>
</html>
