<!doctype html>
<html>
<head>
	<title>View test</title>
</head>
<body>
	<div id="content">
		
	</div>

	<script type="text/javascript">
        var views = <%- data %>;
	</script>
	<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
