<!doctype html>
<html>
<head>
	<title>New Project</title>
	<link rel="stylesheet" type="text/css" href="/_css/styles.min.css">
</head>
<body>
	<canvas id="world"></canvas>
    <script>
        var context;
    </script>
	<script type="text/javascript" src="/_scripts/script.js"></script>
</body>
</html>